# Python Einführung

In [1]:
print("Hi there")

Hi there

## Einfache Datentypen

In [9]:
name = "Nadine" # Variable als string

In [10]:
age = 22 # integer

In [11]:
size = 1.7 # float

In [12]:
knows_math = True # boolean
print (knows_math)

True

In [13]:
type(knows_math)

bool

## Operatoren

In [14]:
5+5 #Addieren

10

In [15]:
age * 10

220

In [16]:
name + name

'NadineNadine'

## Funktionen und Methoden

In [17]:
len(name)

6

In [18]:
name.upper()

'NADINE'

In [19]:
name.count("n")

1

In [20]:
name2 = name.replace("Nadine", "Nadine2") #Neue Variable name2, Variabel name bleibt erhalten

In [21]:
print(name2)

Nadine2

## Listen und Dictionaries

In [22]:
names = ["Nadine", "Nadine2", "Nadja"]

In [23]:
names[0] #0 gibt 1. Element einer Liste aus

'Nadine'

In [24]:
names[-1] #letzter Wert einer Liste wird ausgegeben

'Nadja'

In [25]:
names[0:3] #die Werte 1, 2 und 3 werden ausgegeben

['Nadine', 'Nadine2', 'Nadja']

In [26]:
authors_and_birth_years = {"Nadine": 2000, "Nadine2": 2002}

In [28]:
authors_and_birth_years["Nadine2"]

2002

## For-Schleifen

In [29]:
names = ["Nadine", "Nadine2", "Nadja"]

In [35]:
for person in names:
    print (person + " did awesome stuff")
    print ("------------")

Nadine did awesome stuff
------------
Nadine2 did awesome stuff
------------
Nadja did awesome stuff
------------

## Bedingte Anweisungen (Conditionals)

In [40]:
temp = 20

if temp > 15:
    print("Es ist warm")
else:
    print("Es ist kalt")

Es ist warm

In [41]:
temp = 30

if temp >= 25:
    print("Es ist heiß")
elif temp >= 15:
    print ("Es ist warm")
else:
    print("Es ist kalt")

Es ist heiß